{% extends 'basic.html' %}

{% block head %}
<title>Defect page</title>
<style>
    body{
        padding: 10px;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

{% endblock %}

{% block body %}
<div class="alert alert-danger" role="alert">
    <p>No the employee will not stay.</p>
</div>

<input type="button" value="Home" class="btn btn-primary" onclick="location.href='/'" />

{% endblock %}